# Created by https://www.toptal.com/developers/gitignore/api/react,jspm
# Edit at https://www.toptal.com/developers/gitignore?templates=react,jspm

### jspm ###
jspm_packages

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react,jspm