p {
    margin-bottom: 0.8em;
}

.img-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .img-bg {
        zoom: 90%;
    }
}