@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
    font-family: 'Overpass', sans-serif;
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.card-container {
    margin-top: 2em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

body {
    margin-left: 10em;
    margin-right: 10em;
}

.nav-zindex {
    z-index: 100;
}

h1 {
    font-size: 4.5em;
    font-weight: 600;
}

h2 {
    font-size: 3em;
    font-weight: 600;
}

h3 {
    font-size: 2.5em;
    font-weight: 600;
}

h4 {
    font-size: 2em;
    font-weight: 600;
}

.link {
    color: #b16cea;
    text-decoration: none;
}

#gradient-text {
    background-image: linear-gradient(90deg, #b16cea, #ff6167, #ff7c5c, #ffa93f, #ffab52);
    background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
}

@media (max-width: 1689px) {
    body {
        margin-left: 5em;
        margin-right: 5em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    body {
        margin-left: 2em;
        margin-right: 2em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1em;
    }
}